module.exports = {
    "prefix": "k!",
    "admins": [],
    "token": "",
    "client_secret": "UPTbGlvhus-PFYSyHVd6dUYlikaOsB3_",
    "log": true,
    "private": true,
    "show_disabled": false,
    "logChannel": false, //Channel ID
    "raven": false,
    "lavaLinkNode": false, 
    //Example: {"host": "localhost", "port": 80, "region": "eu", "password": "youshallnotpass"}
    "lavaRestTimeout": 10000,
    "express": false,

    "keys": {
    }
};