module.exports = {
    "prefix": "k!",
    "admins": [],
    "token": "",
    "client_secret": "",
    "log": true,
    "private": true,
    "show_disabled": false,
    "logChannel": false, //Channel ID
    "raven": false,
    "lavaLinkNode": false, 
    //Example: {"host": "localhost", "port": 2333, "region": "eu", "password": "youshallnotpass"}
    "lavaRestTimeout": 10000,
    "express": false,
    "db": "level", //enmap3 type, enmap-level (leveldb) or enmap-rethink (rethinkdb)
    "rethink": { //Only for Rethink based DB
        dbName: 'Kirito',
        host: 'localhost',
        port: 28015
    },
    
    "keys": {
        googleGeoAPIkey: false,
    }
};