module.exports = {
    "prefix": "r!",
    "admins": [],
    "token": "",
    "log": true,
    "private": true,
    "show_disabled": false,
    "logChannel": false //Channel ID

    "keys": {
    }
};